<!DOCTYPE html>
<html ng-app="myApp">
<head lang="en">
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=100%, initial-scale=1">
    <link rel="icon" type="image/png" href="../resources/img/turnos.png"/>
    <meta content="width=1336 px">
    <link rel="stylesheet" href="../resources/css/ng-table.min.css">
    <link rel="stylesheet" href="../resources/css/app.css">
    <title>Turnos</title>
</head>
<script src="../resources/js/lib/angular.min.js"></script>
<script src="../resources/js/app.js"></script>
<script src="../resources/js/controllers/pacienteControllers.js"></script>
<script src="../resources/js/lib/ng-table.min.js"></script>
<body>
<div class="container" ng-controller="PacienteController">
    <button ng-click="goBack()">VOLVER</button>
    <br>
    <table ng-table="pacienteTable" class="table" show-filter="true">
        <tr ng-repeat="paciente in $data">
            <td title="'Nombre'" filter="{ nombre: 'text'}" sortable="'nombre'">{{paciente.nombre}}</td>
            <td title="'Apellido'" filter="{ apellido: 'text'}" sortable="'apellido'">{{paciente.apellido}}</td>
            <td title="'Fecha Nacimiento'" filter="{ fechaNacimiento: 'text'}" sortable="'fechaNacimiento'">{{paciente.fechaNacimiento}}</td>
            <td title="'DNI'" filter="{ dni: 'text'}" sortable="'dni'">{{paciente.dni}}</td>
            <td title="'Telefono Casa'" filter="{ telefonoCasa: 'text'}" sortable="'telefonoCasa'">{{paciente.telefonoCasa}}</td>
            <td title="'Telefono Celular'" filter="{ telefonoCelular: 'text'}" sortable="'telefonoCelular'">{{paciente.telefonoCelular}}</td>
            <td title="'Direccion'" filter="{ direccion: 'text'}" sortable="'direccion'">{{paciente.direccion}}</td>
        </tr>
    </table>
</div>
</body>
</html>
