<!DOCTYPE html>
<html ng-app="myApp">
<head lang="en">
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=100%, initial-scale=1">
    <link rel="icon" type="image/png" href="../resources/img/turnos.png"/>
    <meta content="width=1336 px">
    <title>Turnos</title>
</head>
<body>
    <div class="container" ng-controller="PersonaController">
        <label>NOMBRE</label>
        <input type="text" data-ng-model="user.nombre">
        <label>MAIL</label>
        <input type="text" data-ng-model="user.mail">
        <label>TELEFONO</label>
        <input type="number" data-ng-model="user.telefono">
        <button ng-click="crearNuevoUser()">CREAR USUARIO</button>
    </div>
</body>
<script src="../resources/js/lib/angular.min.js"></script>
<script src="../resources/js/app.js"></script>
<script src="../resources/js/controllers/personaControllers.js"></script>
</html>
